@use '../abstracts/' as *;

.background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    video{
        width: 100vw;
        object-fit: cover;
    }
    // #gradient-canvas {
    //     width:100%;
    //     height:100%;
    //     --gradient-color-1: #fbf2d9; 
    //     --gradient-color-2: #7b9e81; 
    //     --gradient-color-3: #9f5e28;  
    //     --gradient-color-4: #e7cbc8;
    //   }
}